* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: white;
}

/* Contador de dias e horas */

#countdown_dashboard .dashp {
  border:5px solid #000;
  float:left;
  margin: 0px 10px 0px 0px;
  width: 140px;
  height: 120px;
  padding:5px;
  border-radius: 15px;
}
#countdown_dashboard p {
  font-size:40px;
  font-weight:bold;
  color:#dde04e;
  margin: 10px;
  text-align: center;
  background-color: #000;
}
#countdown_dashboard .dashtitle {
  font-size:30px;
  color:rgb(240, 17, 17);
  clear:both;
  display:block;
}
/* Fim Contador de dias e horas */



.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: 100%; */
}

.background-section-one{
    background-image: url(../img/bg5.jpeg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100%;
}


.background-section-two{
    background-image: url(../img/bg3.jpg);
    background-attachment: fixed;
    background-size: 100% 100% cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.tema{
  color:#ff0;
  justify-content: flex-start;
  padding: 30px;
  border-radius: 80px;
  background: #000;
  font-size: 30px;
  text-align: center;
  /* font-weight: lighter; */
  /* display: inline-block; */
  /* border: 1px solid #2014cc; */
  /* background: linear-gradient(to bottom, #d5aac8 5%, #679e95  100%); */
  /* box-shadow:inset 0px 1px 0px 0px #cf6dc7; */
  /* text-shadow:0px 1px 0px #800970; */
}

.card-container{
    background: #ff8080;
    /* color:#fff; */
    border-radius: 25px;
    padding: 15px;
    max-width: 450px;
    margin: 100px;
    font-weight: bold;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 25px;
    background: #FAEBD7;
    color: #000;
    /* background-color: #4d00; */
    font-weight: bold;

}

/* 
form {
    display: grid;
    background-color: #000;
}
 */

 alert {
     background: #000;
     color: #fff;
 }

 /*Rodapé */ 

footer { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
    text-align: unset;
    background-color:#000;
}

.footer-link{
    color: #fff;
}

/*Fim do Rodapé */

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*Resonsividade*/
@media screen and (max-width: 650px){
  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 360px){
  .tema{
    max-width: 100%;
    height: auto;

  }
}

@media screen and (max-width: 700px) {
  #countdown_dashboard {
    display: none;
  }
}

@media screen and (max-width: 370){
  .background-section-two {
    max-width: 1%;
    height: auto;
    /* min-height: 100%; */
  }
}

/* Fim Responsividade */
